.navbar-brand {
    font-size: 200%;
    font-family: fantasy;
    background: #ff0000;
    background: linear-gradient(to left, #705f5f 0%, #963b3b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand #logoIcon {
    margin-right: 20px;
}

#navItems li {
    margin-right: 5px;
}

li {
    margin-right: 20px;
}